<!doctype html>
<html lang="en">
<head>
    {{template "resource.html" .}}
</head>
<body>
{{template "header.html"}}

<div class="main-content article">
    <h1>David's Blog</h1>
    <p>
        Thanks for visiting my website! I use /blog to write about the things that interest me and /projects to talk
        about the software projects I'm working on.
    </p>
    <p>
        I recently discovered Ben Stoke's <a href="https://tinyprojects.dev/">Tiny Projects Blog</a>, and I was inspired
        to pursue the same goals as his: create a new tiny(ish) project every few weeks and actually complete it. I've
        been able to do this somewhat over the past few months, and you can read about these projects under the
        <a href="/projects/list.html">projects tab.</a>
    </p>
</div>

{{template "footer.html"}}
<script src="/static/js/index.js"></script>
</body>
</html>
