<!doctype html>
<html lang="en">
<head>
{{template "components/head.html"}}
<link rel="stylesheet" href="/static/css/index.css"/>
</head>
<body>

{{template "components/header.html"}}

<div class="main-content">
  <h1 class="embossed fixed-style" data-text="This is my blog.">
    This is my blog.
  </h1>
  <p class="sans-serif centered">
    As you can see, its a work in progress. I'll be adding more content soon!
  </p>
</div>

{{template "components/footer.html"}}
{{template "components/scripts.html"}}
</body>
</html>
