@import "variables";

header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;

    .header-logo {
        padding: 25px 0 0 25px;
        margin: -17px 0 0 0;
        opacity: 1;
        transition: opacity 0.25s linear;
        font-family: $sans-serif;
        font-weight: 900;

        &.hidden {
            opacity: 0;
        }

        a {
            color: black;
            font-weight: 700;
            font-size: 40px;
            font-style: normal;
            text-decoration: none;
            z-index: 1;
            position: relative;

            &:hover {
                color: black;
                text-decoration: underline;
            }

            @include square-link-background($teal);
        }
    }

    .header-list {
        display: flex;
        opacity: 1;
        transition: opacity 0.25s linear;
        font-family: $sans-serif;

        .header-item {
            margin-bottom: 0.3em;
            font-size: 20px;
            padding-right: 60px;

            &#color-scheme {
                padding-top: 5px;
            }
        }

        a {
            color: black;
            z-index: 1;
            position: relative;

            &:hover {
                color: black;
                text-decoration: underline;
                cursor: pointer;
            }

            @include square-link-background($light-salmon);
        }
    }

    .hamburger {
        display: none;
        position: absolute;
        width: 80px;
        height: 80px;
        top: 0;
        right: 0;
        cursor: pointer;
    }

    @media (max-width: 768px) {
        .hamburger {
            display: flex;
            transition: all 0.25s linear;

            &.open {
                .gg-menu {
                    transform: scale(var(--ggs, 1.5)) rotate(45deg);
                }
                .gg-menu::before {
                    transform: rotate(-90deg);
                    top: 0;
                }
            }
        }

        .header-list {
            visibility: hidden;
            display: none;
            opacity: 0;
            position: absolute;
            top: 75px;
            width: 100%;
            text-align: right;
            z-index: 1;

            .header-item {
                font-size: 30px;
                margin-bottom: 1em;

                .dark-mode-btn {
                    display: flex;
                    justify-content: flex-end;
                }
            }

            &.open {
                visibility: visible;
                display: block;
                opacity: 1;
            }

            .gg-moon {
                transform: rotate(-135deg) scale(var(--ggs, 1.5));
            }
        }
    }
}
