/* Colors */
$salmon: #F06A4A;
$light-salmon:#F29D80;
$purple: #6D3EF0;
$soft-yellow: #F0E356;
$teal: #6EF0C3;
$dark: #323232;

/* Fonts */
$serif: 'Crimson Text', serif;
$sans-serif: 'Lato', sans-serif;
