<header>
    <h1 class="header-logo">
        <a href="/">David</a>
    </h1>
    <ul class="header-list">
        <li class="header-item">
            <a href="/blog">
                All posts
            </a>
        </li>
        <li class="header-item">
            <a href="/about.html">
                About
            </a>
        </li>
        <li class="header-item" onclick="toggleTheme()" style="padding-top:5px;">
            <i class="gg-moon"></i>
        </li>
    </ul>
    <span class="hamburger" onclick="toggleMenu()">
        <i class="gg-menu"></i>
    </span>
</header>
