<header>
    <span class="header-logo">
        <a href="/">
            <span>David Wiles</span>
        </a>
    </span>
    <ul class="header-list no-bullet">
        <li class="header-item">
            <a href="/blog/list.html">
                <span>Blog</span>
            </a>
        </li>
        <li class="header-item">
            <a href="/projects/list.html">
                <span>Projects</span>
            </a>
        </li>
        <li class="header-item">
            <a href="/about.html">
                <span>About Me</span>
            </a>
        </li>
        <li id="color-scheme" class="header-item">
            <span class="dark-mode-btn">
                <i class="gg-moon"></i>
            </span>
        </li>
    </ul>
    <span id="hamburger" class="hamburger">
        <i class="gg-menu"></i>
    </span>
</header>
