<header>
    <span class="header-logo">
        <a href="/">David Wiles</a>
    </span>
    <ul class="header-list">
        <li class="header-item">
            <a href="/blog/list.html">
                All Posts
            </a>
        </li>
        <li class="header-item">
            <a href="/about.html">
                About Me
            </a>
        </li>
        <li id="color-scheme" class="header-item">
            <span class="dark-mode">
                <i class="gg-moon"></i>
            </span>
        </li>
    </ul>
    <span id="hamburger" class="hamburger">
        <i class="gg-menu"></i>
    </span>
</header>
